body {
    padding: 0;
    margin: 0;
    height:100%;
  }

html {
  height:100%;
}

#map {
  margin: auto;
  width: 80%;
  height:100%;
  border: 3px solid lightgrey;
  padding: 10px;
}

#map2 {
  margin: auto;
  width: 80%;
  height:100%;
  border: 3px solid lightgrey;
  padding: 10px;
}

#nycChart {
  border-style: solid;
  border-color: lightgrey;
  border-width: 3px ;
}

#chicagoChart {
  border-style: solid;
  border-color: lightgrey;
  border-width: 3px ;
}

.row {
  margin: auto;
}

#pins {
  padding: 0;
  margin: 0;
  height:100%;
}

#grids {
  padding: 0;
  margin: 0;
  height:100%;
}